window {
    background-color: rgba(136, 192, 208, 0.45); /* #88c0d0 */
}

button {
    background-color: #81a1c1;
    color: #eceff4;
    border: 2px solid #88c0d0;
    border-radius: 12px;
    margin: 12px;
    font-size: 18px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 64px;
    transition: all 0.15s ease;
	padding: 20px;
	min-width: 160px;
	min-height: 160px;
}

button:hover {
    background-color: #88c0d0;
    border-color: #8fbcbb;
    color: #2e3440;
}

button:focus {
    background-color: #8fbcbb;
    color: #2e3440;
}

#lock {
    background-image: image(url("assets/lock.svg"));
}

#logout {
    background-image: image(url("assets/logout.svg"));
}

#shutdown {
    background-image: image(url("assets/shutdown.svg"));
}

#reboot {
    background-image: image(url("assets/reboot.svg"));
}

#suspend {
    background-image: image(url("assets/suspend.svg"));
}

#hibernate {
    background-image: image(url("assets/hibernate.svg"));
}
