[Unit]
Description=KDE Connect Indicator
After=graphical-session.target

[Service]
ExecStart=/usr/bin/kdeconnect-indicator
Restart=on-failure
RestartSec=2

[Install]
WantedBy=default.target
