[Unit]
Description=Rotate wallpaper periodically

[Timer]
# ログインから10分後に初回、以降10分間隔
OnStartupSec=10min
OnUnitActiveSec=10min

[Install]
WantedBy=timers.target
