[Unit]
Description=xremap

[Service]
ExecStart=%h/.cargo/bin/xremap %h/.config/xremap/config.yml
Restart=on-failure

[Install]
WantedBy=default.target
